html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
}

.slides{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /* scroll-snap-type: [x | y | inline | block | both] [mandatory | proximity]; */
    scroll-snap-type: y mandatory;
}

.slide{
    width: 100%;
    height: inherit;
    background-color: black;
    background-color: #108eb4;
    /* scroll-snap-align: [none|end|start|center]; */
    scroll-snap-align: center;
}

.slide:nth-child(even){
    background-color: #1e2345;
}

.slide-container{
    width: 80%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: aliceblue;
}

/*Efecto Carrusel*/

.carousel{
    border: thick solid #d938f0;
    display: flex;
    width: 50%;
    height: 50vh;
    /* overflow-x: hidden; */
}

.carousel-container{
    width: 100%;
    overflow: scroll hidden;
    display: grid;
    grid-template-columns: repeat(5,100%);
    scroll-snap-type: both mandatory;
}

.carousel-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #108eb4;
    scroll-snap-align: center;
}

.carousel-slide:nth-child(even){
    background-color: #1e2345;
}

.gradient-text{
    background-image: linear-gradient(45deg,magenta,yellow);
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}